/* EACH CSS RULE BELOW SHOULD BE PAGE 1 TOP DOWN, THEN PAGE 2 TOP DOWN ETC */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/* ############################################################ */
/* INDEX PAGE (MAIN LANDING PAGE) */

* {
    margin: 0%;     /* Stops a white margin on top bar of screen */
    margin-left: 10px;
    margin-right: 10px;
    box-sizing: border-box;
}

/* MAKES THE BACKGROUND IMAGE */
.indexBackground {
    /* background: url(./images/christmas-background-46.png) no-repeat center center fixed; */
    /* background: url(./images/9SjDkx.jpeg) no-repeat center center fixed; */
    background: url(./images/356730-top-christmas-desktop-wallpaper-2048x1312-for-full-hd.jpeg) no-repeat center center fixed; 
    /* background: url(./images/Christmas-images-free-download.jpeg) no-repeat center center fixed; */
    background-size: cover;
}


/* THE BUTTONS FOR DAYS 1-23 DEFINITION */
a.button {
    display:inline-block;
    padding: 0.8em 2.2em;
    margin:0 0.3em 0.3em 0;
    background-color: transparent;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    color:gold;
    border-width: medium;
    border-style: solid;
    border-radius: 20px;
    text-align:center;
    transition: all 1.2s;
    margin-top: 50px;
    padding: 32px 32px
}

.button {
    transition-duration: 0.4s;
  }
  .button:hover {
    background-color: #6e101e; 
  }


/* THE BUTTON FOR DAY 24 DEFINITION */
a.day24 {
    margin-top: 200px;
    margin-left: 500px;
   
    display:inline-block;
    padding: 0.8em 2.2em;
    margin:0 0.3em 0.3em 0;
    border-width: medium;

    border-style: solid;
    border-radius: 25px;
    color:gold;
    font-size: large;
    width: 300px;
    height: 300px;
}

.day24 {
    transition-duration: 0.4s;
  }
  .day24:hover {
    background-color: #6e101e; 
  }




/* THE BUTTON ROWS SECTION */
.Row_One {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.Row_Two {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.Row_Three {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
}

.xmas_eve {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 60px;
    left: 50%;
    right: 50%;
}
